

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
          <div class="row" id="navbar">
      <div class="display-center">
          <div class="col-6" id="img">
                  <a href="home.html"><img src="../../../../../wamp/www/compucorp/Drupal/drupal-8.4.4/themes/custom/compucorp/Assets/Images/oc-logo.png"  height="25"/></a>
          </div>
        <div  class="col-6">
            <ul>
                <li><a href="">ABOUT OPEN CHARITY</a></li>
                <li><a href="">THE BLOG</a></li>
                <li><a class="join" href="">JOIN US</a></li>
            </ul>
        </div>
      </div>
      </div>
      <div class="row" class="col-12" id="banner">
      	<div class="display-center">
              <div class="col-12" id="bannner_cont">
                  <p id="share">SHARING IDEAS FOR CHARITIES</p>
                  </div>

                  <div class="col-12" id="others" >
                  <p>Many charities's goal are similar,as is the functionality we require, but little<br>
                      shared working takes place.</p>
                  <p>By working together,during shared areas of interest and influencing open source<br>
                  development we can bring effeciencies, improve the digital experience for our users, and<br>
                  have great impact.</p>
                  <p>Together we can make a bigger difference.</p>
                  </div>

      	</div>
      </div>

      <div class="row" id="register">
      	<div class="display-center">
      		<div class="col-6" >
                  <h5>Next Event: June 23rd 2016 18:30 - 21:00 <br/>
                  Cancer Research UK, Angel Building, 407 St John Street, London EC1V 4AD</h5>
             	</div>
            		<div class="col-6">
                          <ul>
                          	<li class="register"><a href="">REGISTER</a></li>
                          </ul>
                  </div>

            </div>
      </div>

      <div class="row" id="getdiv">
          	<div class="display-center">

          		<h2>GET INVOLVED</h2>

              <div id="meet" class="col-4">
                 	    <img src="../../../../../wamp/www/compucorp/Drupal/drupal-8.4.4/themes/custom/compucorp/Assets/Images/meetup.png" width="120" height="100" class="image"/>
                  	<h4>WE DO MEETINGS</h4>
                      <p>We organise our meetings through the openCharity
                      MeetUp group</p>
                      <p id="unique"><a href="">MEETUP GROUP</a></p>
              </div>

              <div id="slack" class="col-4">
                      <img src="Assets/Images/slack.png"  width="120" height="100"/>
                      <h4>WE COMMUNICATE</h4>
                      <p id="get-p">OpenCharity have a slack group for <br>
                      daily communication</p>
                      <p><a href="">SLACK GROUP</a></p>

              </div>

              <div id="share" class="col-4">
                      <img src="Assets/Images/share.png"  width="120" height="100"/>
                      <h4>WE COLLABORATE</h4>
                      <p id="get-p">We have a Wiki group set up to share tools <br>
                       and document</p>
                      <p><a href="">WIKI GROUP</a></p>

              </div>
           </div>
      </div>

      <div class="row" id="our_mission">
      		<div class="display-center">
                  <div class="col-12">
                      <h2>OUR MISSION</h2>
                          <p>Charities and Partners collaborating and sharing open solution and idea to create value in digital space.</p>
                      <h5 >If you are a charity or a supplier we are ready to welcome you</h5>
                  </div>
             <div class="vis clearfix">
                 <div id="charities" class="col-4">
                     <img src="Assets/Images/bulb-alt.png" width="110" height="110" class="img"/>
                     <h3>We help charities</h3>
                     <p>share knowledge and work pratices to make <br>
                     the best technology choices</p>
                 </div>

                 <div id="together" class="col-4">
                      <img src="Assets/Images/together-alt.png" width="110" height="110" class="img"/>
                      <h3>We bring together</h3>
                      <p>charities and suppliers to the charity sector to <br>
                      share best practices</p>
                 </div>

                 <div id="encourage" class="col-4">
                      <img src="Assets/Images/encourage-alt.png" width="110" height="110" class="img"/>
                      <h3>We encourage</h3>
                      <p>collaboration and innovation for the good of <br>
                       the charity sector</p>
                 </div>

             </div>


             	  	 <h2 class="header">OUR MEMBERS</h2>

                 <div id="research" class="col-3" >
                      <img src="Assets/Images/cancer-research.png" width="120" height="50"/>
                 </div>

                 <div id="compucorp" class="col-2" >
                      <img src="Assets/Images/compucorp.png" width="150" height="30"/>
                 </div>

                 <div id="kop" class="col-2">
                      <img src="Assets/Images/kop.png" width="90" height="40"/>
                 </div>

                 <div id="zing" class="col-2">
                      <img src="Assets/Images/zing.png" width="80" height="80"/>
                 </div>

                 <div id="comic" class="col-3">
                      <img src="Assets/Images/comic-relief.png" width="80" height="80"/>
                 </div>
             </div>

      </div>

      <div class="row" id="blog">
      		<div class="display-center">
              	<h2>BLOG</h2>
              </div>
              <div class="display-center">
                  <div class="col-3">
                      <p>Online donation specialist</p>
                      <hr/>
                      <p>We receive donation worldwide,So feel free to donate to the account number below</p>
                      <hr/>
                      <p>29 January 2018</p>
                  </div>

                  <div class="col-3">
                      <p>Online donation specialist</p>
                      <hr/>
                      <p>We receive donation worldwide,So feel free to donate to the account number below</p>
                      <hr/>
                      <p>29 January 2018</p>
                  </div>

                  <div class="col-3">
                      <p>Online donation specialist</p>
                      <hr/>
                      <p>We receive donation worldwide,So feel free to donate to the account number below</p>
                      <hr/>
                      <p>29 January 2018</p>
                  </div>

                  <div class="col-3">
                      <p>Online donation specialist</p>
                      <hr/>
                      <p>We receive donation worldwide,So feel free to donate to the account number below</p>
                      <hr/>
                      <p>29 January 2018</p>
                  </div>

              </div>
      </div>
      <div class="row" id="footer">

          <div class="display-center">
                  <p>
                    <img src="Assets/Images/Facebook.png" width="35px" height="35px" />
                      <img src="Assets/Images/Twitter.png"  width="35px" height="35px" />
                      <img src="Assets/Images/Instagram.png" width="35px" height="35px" />
                  </p>
                  <hr/>
                  <p>This  was built as a collaboration between Manifesto Digital and Compucorp</p>
                  </div>
      </div>
